<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there! I'm Jeremy Wong, a software engineer with a focus on web development and automation.
          I'm currently employed at a technology company called Paycom where I help process and deliver
          payroll/retirement fund data for 350+ clients.</p>
      </div>
      <div class="col-lg-4">
        <p>I can usually be found enjoying nature, cooking/baking, or working on my latest homestead
          project (recently I've been making my own bar soap). </p>
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience and Skills</h2>
        <hr class="star-light">
      </div>
    </div>

      <div class="row">
        <div class="col-lg-2">
          <h4>Paycom</h4>
        </div>    
        <div class="col-lg-2">
            <hr class="time-mark">
            <p class="time-style">Dec 2022 - Current</p>

          <hr class="time-line">
        </div>    
        <div class="col-lg-8 exp_description">
          <ul>
            <li>Delivered 350+ projects to automate SFTP transmission of payroll and retirement contribution data</li>
            <li>Multitasked ongoing technical support to over 40 file feeds and their associated clients at any given time</li>
          </ul>
        </div>    
  
      </div>

      <div class="row">
        <div class="col-lg-2">
          <h4>Fidelity Investments</h4>
        </div>    
        <div class="col-lg-2">
            <hr class="time-mark">
            <p class="time-style">Aug 2018 - Feb 2022</p>
        </div>    
        <div class="col-lg-8 exp_description">
          <ul>
            <li>Designed and developed multiple single-sign-on web apps to monitor internal data exfiltration channels</li>
            <li>Led effort for migrating infrastructure, resources, and secure credential management to Microsoft Azure</li>
            <li>Implemented CICD pipelines for easy code deployments, VM updates, and VM/application recovery</li>
  <!--          <li>Used DNS CAA service to create and integrate SSL certificates to ensure secure communication on websites</li>
            <li>Initiated and implemented tech-stack modernization, which included using technologies like Spring Boot,
              Python, React, and Vue.JS, to enhance maintainability across product</li>-->
          </ul>
        </div>    
  
      </div>      
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
  </div>
</section>
